<div class="wrapper">
    <div class="cols cols-0 presentation">
        <div class="cols cols-1 d-flex justify-content-center">
            <div class="imgbox">
                <img src="../../../assets/me.jpg">
            </div>
        </div>
        <div class="info">
            <h1 class="topline">¡Hola!</h1>
            <h2>Soy Raquel, Frontend Developer</h2>
            <p>
                He creado este proyecto con Angular v.16, TypeScript y JavaScript.
                También he usado la API de mapbox.
                Y la maquetación está realizada con bootstrap, flexbox...
            </p>
            <button (click)="downloadCV()">Descargar CV</button>
            <a href="https://www.linkedin.com/in/raquel-blazquez/"><i class="fab fa-linkedin"></i></a>
        </div>
    </div>
</div>