.card {
  font-size: 15px;
  margin: 150px auto;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  font-size: 18px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.3);
  /*font-weight: bold;*/
}

.image-container {
  width: 100%;
  height: 100vh;
  background-image: url("../../../../assets/ave-luna.jpg");
  background-position: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 /*  padding: 50px;
  background-color: black;
  opacity: 20%; */
}


#return{
  margin-top: 10px;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 hwb(18 64% 31%);
  -webkit-transition: ease-out 1s;
  -moz-transition: ease-out 1s;
  transition: ease-out 1s;
}

#return:hover {
  box-shadow: inset 400px 0 0 0 hsl(20, 3%, 64%);
}

