<div class="image-container">
    <div class="form-container">
        <form [formGroup]="siteForm">
            <div class="form-group">
                <label for="city">Ciudad</label>
                <search-bar></search-bar>
            </div>

            <div class="form-group">
                <label for="description">Descripción</label>
                <input formControlName="description" type="text" class="form-control" id="description"
                    name="description" placeholder="Descripción">
            </div>

            <input type="file" (change)="prueba($event)" class="form-control" id="file">
           
            <button (click)="addPlace()" id="buttonSave" type="submit" [routerLink]="['/maps/fullscreen']" class="btn btn-info">Añadir Ciudad</button>
            <button id="buttonRetorn" type="submit" [routerLink]="['/maps/fullscreen']" class="btn btn-info">Volver al
                Mapa</button>
        </form>
    </div>
</div>