.pointer {
  cursor: pointer;
}

p {
  font-size: 12px;
}

.searcher {
  max-height: 300px;
  display: flex;
  justify-content: start;
  position: relative;
  flex-direction: row;
  overflow-x: scroll;
}

.list-group-item {
  display: block;
}


@media (max-width: 750px) {
  .searcher {
    flex-direction: column;
  } 
}