.home {
  height: 100vh;
}

h1 {
  font-size: 90px;
  background: -webkit-linear-gradient(#eb1b1b, #f39303);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

#button-map {
  margin-top: 10px;
  margin-left: 20px;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 hwb(133 37% 7% / 0.89);
  -webkit-transition: ease-out 1s;
  -moz-transition: ease-out 1s;
  transition: ease-out 1s;
  font-weight: bold;
}

#button-map:hover {
  box-shadow: inset 400px 0 0 0 hsl(184, 96%, 49%);
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 250px;
  position: relative;
  text-align: center;
}

.video-container {
  width: 100%;
  position: fixed;
  height: 100vh;
  margin-top: -20px;
  display: flex;
  justify-content: center;
  background-color: black;
}

@media (max-width: 750px) {
  .home-container {
    padding: 0;
    position: absolute;
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
  }

  .home-container-buttons {
    align-items: center;
    margin: 0 auto;
    z-index: 99;
  }

  h1 {
    font-size: 40px;
  }

  #button-map {
    font-size: 10px;
  }
}
